<!doctype html>
<html data-theme="dark">

<head>
    <title>{{ pages.get('index').meta.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/night-owl.min.css')}}">
    <script src="{{ url_for('static', filename='highlight/highlight.min.js')}}"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static',filename='favicon.ico') }}" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" />
    <script src="https://kit.fontawesome.com/8c781f34f9.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='libs.js') }}"></script>
</head>

<body>
    <div class="columns">
        <div class="navbar pb-3 is-hidden-desktop is-fixed-top">
            {% include 'navbar_mobile.html'%}
        </div>
        <div class="content column sidebar navbar is-fixed-top p-0 is-hidden-touch
            is-2-fullhd is-3-desktop">
            {% include 'sidebar.html'%}
        </div>
    </div>
    <div class="columns">
        <div class="column content my-6 pt-6
                    is-7-desktop is-offset-4-desktop
                    is-10-touch is-offset-1-touch 
                    is-size-3-touch">
            {% block content%}
            {% endblock %}
        </div>
    </div>

    <div class="column navbar is-fixed-bottom p-0 custom-footer is-hidden-touch
                    is-10-fullhd  is-offset-2-fullhd
                    is-9-desktop is-offset-3-desktop 
                    is-8-tablet is-offset-4-tablet">
        {% include 'footer.html'%}
    </div>
</body>

</html>