{% extends "base.html" %}

{% block content %}

<!-- inspired by tailwindcss.com -->
<ul class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8">
    {% for page in pages | sort(attribute='date', reverse=true) | selectattr("hidden", "ne", true) %}
    <li class="ml-0 pl-0 relative flex flex-row items-start">
        <div class="order-1 grow sm:ml-6 xl:ml-0 bg-slate-700 p-4 rounded-lg">
            <h3 class="mb-1 text-slate-100 font-semibold">
            {{page.meta.title}}<span class="my-1 block text-sm leading-6 text-yellow-400">{{page.meta.date}}</span>
            </h3>
            <div class="prose prose-slate prose-sm text-slate-600">
                <p>{{page.meta.excerpt}}</p>
            </div><a
                class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-slate-100 text-slate-700 hover:bg-slate-200 hover:text-slate-900 focus:ring-slate-500 mt-6"
                href="{{url_for('page',path=page.path)}}">Read<span class="sr-only">, Completely unstyled, fully accessible UI components</span>
                <svg class="overflow-visible ml-3 text-slate-300 group-hover:text-slate-400"
                    width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M0 0L3 3L0 6"></path>
                </svg></a>
        </div>
        {% if page.meta.card_image is defined %}
        <img src="https://tailwindcss.com/_next/static/media/headlessui@75.c1d50bc1.jpg" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}