<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  <nav id="sidebar-pageview-links"><a href="https://visitorbadge.io/status?path=https%3A%2F%2Fcodecoffee.org"><img src="https://api.visitorbadge.io/api/combined?path=https%3A%2F%2Fcodecoffee.org&label=Visitors%20(24h%2FTotal)&labelColor=%23777777&countColor=%232277dd" /></a></nav>
  {% include copyright.html %}
</div>