html{
    background-color:#011627;
}
h1,h2,h3,h4,h5,li,p {
    color: #caecdd;
}
a {
    color: #c28ee4
}
a:hover {
    color:#a062ca
}
.sidebar{
    background: #0b2942;
    box-shadow: 3px 0px 5px #374855;
    height: 100vh;
    overflow-y: scroll;
}
.custom-footer{
    background: #0b2942;
    border-top: 1px #5b7b96 solid;
    min-height: 2rem;
}
.custom-footer p {
    color: #5b7b96;
}
#term-prompt{
    padding-left: 10px;
}
#date-time{
    padding-right: 10px;
    text-align: right;
}