<div class="columns pl-2 pt-3">
    <div class="column is-full has-text-centered">
        <a href="{{url_for('index')}}">
            <h2>Code And Coffee</h2>
        </a>
    </div>
</div>
<!-- Need to add social links here somewhere  -->
<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="ml-3">
            <a href="{{url_for('index')}}"><span style="color:#caecdd; text-overflow:ellipsis;" class="py-1"> 📄
                    README.md</span></a>
        </div>
        <div class="ml-3">
            <a href="{{url_for('blog_home')}}"><span style="color:#caecdd; text-overflow:ellipsis;" class="py-1"> 📄
                    blog.html </span></a>
        </div>
        <details>
            <summary class="my-1" style="color:#caecdd">📁 Blog Topics</summary>
            {% for tag in tags | sort() %}
            <div style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
                <a href="{{url_for('tag_search', tag=tag)}}"><span style="color:#caecdd; "
                        class="pl-5 py-1"> 💭 {{tag}}</span></a>
            </div>
            {% endfor %}
        </details>
    </div>
</div>