:root {
  --bulma-primary-h: 182deg;
  --bulma-primary-s: 47%;
  --bulma-primary-l: 57%;
  --bulma-text-h: 0deg;
  --bulma-text-s: 0%;
  --bulma-text-l: 100%;
  --bulma-link-h: 276deg;
  --bulma-link-s: 61%;
  --bulma-link-l: 57%;
  --bulma-info-h: 207deg;
  --bulma-info-s: 75%;
  --bulma-info-l: 32%;
  --bulma-success-h: 165deg;
  --bulma-success-s: 78%;
  --bulma-success-l: 44%;
  --bulma-warning-h: 35deg;
  --bulma-warning-s: 71%;
  --bulma-warning-l: 74%;
  --bulma-danger-h: 352deg;
  --bulma-body-background-color: hsl(207, 95%, 8%);
}

.card {
  --bulma-card-background-color: hsl(207, 71%, 15%);
  --bulma-card-shadow: 0.5em 0.5em 2em -0.5em hsl(205, 94%, 6%);
  --bulma-card-radius: 0.5rem;
}

.navbar {
  --bulma-navbar-background-color: hsl(207, 71%, 15%);
  --bulma-navbar-box-shadow-color: hsl(203, 22%, 27%);
}


.sidebar{
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0.5em 0.5em 2em -0.5em hsl(205, 94%, 6%);
}
.custom-footer{
    background: #0b2942;
    border-top: 1px #5b7b96 solid;
    min-height: 2rem;
}
.custom-footer p {
    color: #5b7b96;
}
#term-prompt{
    padding-left: 10px;
}
#date-time{
    padding-right: 10px;
    text-align: right;
}